function yy() {
        local tmp="$(mktemp -t "yazi-cwd.XXXXXX")"
        yazi "$@" --cwd-file="$tmp"
        if cwd="$(cat -- "$tmp")" && [ -n "$cwd" ] && [ "$cwd" != "$PWD" ]; then
                builtin cd -- "$cwd"
        fi
        rm -f -- "$tmp"
}

if ! (($chpwd_functions[(I)chpwd_cdls])); then
    chpwd_functions+=(chpwd_cdls)
fi

function chpwd_cdls() {
    if [[ -o interactive ]]; then
        # List of directories to exclude
        local excluded_dirs=("/home/muadjomar")

        # Check if the current directory is in the excluded list
        for dir in "${excluded_dirs[@]}"; do
            if [[ "$PWD" == "$dir" ]]; then
                return
            fi
        done

        # Emulate Zsh options and run the command
        emulate -L zsh
        eval ${CD_LS_COMMAND:-ls}
    fi
}

y() {
  if [ "$1" != "" ]; then
    if [ -d "$1" ]; then
      yazi "$1"
    else
      yazi "$(zoxide query $1)"
    fi
  else
    yazi
  fi
    return $?
}
