.search-bar {
    font-size: 20px;    
    display: block;
}

.video {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;

}

.thumbnail {
    cursor: pointer;
    width: 330px;
    height: 185.156;
    display: inline-block;
}

.channel {
    width: 66px;
    border-radius: 35px;
    vertical-align: top;
    display: inline-block;
}

.disc {
    width: 260px;
    vertical-align: top;
    display: inline-block;
}