.search-bar {
    font-size: 20px;    
    display: block;
}

.video {
    width: 330px;
    height: 297.156;
    display: inline-block;
    vertical-align: top;
    padding: 4px;

}

.thumbnail {
    cursor: pointer;
    width: 330px;
    height: 185.156;
    display: inline-block;
}

.channel {

}

.disc {
    display: inline-block;
}